@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 93%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header { padding: 32px 0 30px; }

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

.header-section h1 { width: 26%; }
.header-section h1 a { width: 100%; }

h1 figure { 
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

h1 figure img { width: 100%; }

h1 div {
  width: 67%;
  margin-top: 6px;
  margin-left: 5%;
  display: inline-block;
  color: #444444;
}

h1 .logo-name {
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

h1 .logo-text {
  display: block;
  color: #5F5F5F;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

header .menu .bar { text-indent: -9999px; }
.hamburger { display: none; }

.menu { 
  width: 70%; 
  text-align: end;
}

.menu ul { margin-top: 10px; }

.menu ul li {
  font-size: 18px;
  text-transform: uppercase;
}

.menu li a { 
  padding: 15px 20px; 
  color: #4A4A4A;
}

.menu li:nth-child(4) a { padding: 15px 13px; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner { position: relative; }

.banner .wrapper {
  max-width: 1518px;
  width: 100%;
}

.banner  figure {
  width: 100%;
  height: auto;
  text-align: center;
}

.slider .slide { display: none; }

.slider li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  color: #FFFFFF;
}

.slider .slick-prev {
  position: absolute;
  top: 290px;
  left: 3%;
  z-index: 1;
  color: #FFFFFF;
  
}
.slider .slick-next {
  position: absolute;
  top: 290px;
  right: 3%;
  color: #FFFFFF;
}

.slider .slick-dots {
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slider .slick-dots li {
    margin: 0 1%;
  }
  
.slider .slick-dots li.slick-active button:before,
.slider li.slick-active button:before {
  opacity: .7;
  color: #FFFFFF
}
  
.slider .slick-dots li button:before {
  margin: 30px 5%;
  font-size: 60px;
  color: #DADADA;
}

.prev-arrow,
.next-arrow { text-indent: -9999px; }

.prev-arrow::before {
  content: "\f053";
  position: absolute;
  top: 290px;
  left: 3%;
  z-index: 1;
  color: #FFFFFF;
  font-size: 40px;
  font-family: "FontAwesome";
  text-indent: 0;
  float: left;
}

.next-arrow::before {
  content: "\f054";
  position: absolute;
  top: 290px;
  right: 3%;
  color: #FFFFFF;
  font-size: 40px;
  font-family: "FontAwesome";
  text-indent: 0;
  float: right;
} 

.portfolio-heading {
  margin-top: 70px;
  text-align: center;
}

.portfolio-heading h2,
.about-heading h2,
.contact-heading h2 {
  margin-bottom: 13px;
  font-size: 40px;
  text-transform: capitalize;
}

.portfolio-heading h2 { color: #444444; }

.portfolio-heading p { 
  margin-bottom: 48px;
  color: #737373;
}

.portfolio-heading p,
.contact-heading p { 
  font-size: 21px;
}

.portfolio-list { 
  margin-bottom: 60px;
  text-align: center; 
}
.portfolio-list li:first-child { margin-left: 0; }

.portfolio-list li {
  padding: 15px 10px;
  margin-left: 1.3%;
  background-color: #1BBC9B;
  cursor: pointer;
  font-size: 19px;  
  letter-spacing: 0.5px;
  text-transform: uppercase;    
}

.portfolio-list li a { color: #FFFFFF; }

.portfolio-list .active-filter { 
  background-color: #16A086;
  color: #FFFFFF;
}

.none { display: none; }
.active { display: block; }

.portfolio-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.overlay {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  text-align: -webkit-center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
}

.overlay figure {
  width: 20%;
  margin-bottom: 30px;
}

.overlay p {
  width: 64%;
  color: #FFFFFF;
  font-size: 18px;
  text-transform: capitalize;
}

.overlay p span {
  display: block;
  font-size: 15px;
}

.portfolio-image li { 
  width: 19%; 
  margin-left: 6%;
  margin-bottom: 45px;
  position: relative;
}

.portfolio-image li:nth-child(4n - 3) { margin-left: 2.8%; }

.about { 
  margin-top: 40px;
  background-color: #16A086; 
}

.about-heading {
  padding-top: 70px;
  text-align: center;
}

.about-heading h2 { color: #FFFFFF; }

.about-heading p {
  margin-bottom: 60px;
  color: #FDFDFE;
  font-size: 19px;
}

.about .wrapper { width: 77%; }

.about ul {
  padding-bottom: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: justify; 
     -ms-flex-pack: justify; 
   justify-content: space-between;
}

.about ul li { 
  width: 28.3%;
  position: relative;
  background-color: #fff; 
}

.about-overlay {
  width: 80%;
  position: absolute;
  top: 26%;
  left: 50%;
  z-index: 2;
  text-align: -webkit-center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
}

.about-overlay figure {
  width: 60%;
}

.about .about-team { padding: 25px 5%; }

.about-team div {
  text-align: center;
  text-transform: capitalize;
}

.about-team div h3 {
  margin-bottom: 5px;
  color: #5A5A5A;
  font-size: 25px;
}

.about-team div span {
  margin-bottom: 20px;
  display: block;
  color: #5A5A5A;
  font-size: 17px;
  font-style: italic;   
}

.about-team p {
  color: #858585;
  font-size: 19px;
  line-height: 24px;
}

.about-team p::first-letter { text-transform: capitalize; }

.contact {
  padding-top: 70px;
  background-color: #ECF0F1;
}

.contact .wrapper { width: 92%; }

.contact-heading { 
  color: #444444; 
  text-align: center;
}

.contact-heading p {
  margin-bottom: 65px; 
  font-size: 19px; 
}

.contact-info { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
}

.form { width: 49%; }

.form-control {
  width: 47%;
  display: inline-block;
}

.form-control input {
  width: 90%;
  height: 54px;
  padding-left: 9%;
  border: 3px solid #BEC3C7;
}

.form-control input::-webkit-input-placeholder {
  color: #CFCFCF;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  border-color: #BEC3C7;
}

.form-control input::-moz-placeholder {
  color: #CFCFCF;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  border-color: #BEC3C7;
}

.form-control input:-ms-input-placeholder {
  color: #CFCFCF;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  border-color: #BEC3C7;
}

.form-control input::-ms-input-placeholder {
  color: #CFCFCF;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  border-color: #BEC3C7;
}

.form-control input::placeholder {
  color: #CFCFCF;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  border-color: #BEC3C7;
}

.form-control:nth-child(2) { margin-left: 4%; }
.form-control:nth-child(3) { width: 99%; }

.form-control textarea {
  width: 94%;
  height: 200px;
  padding: 10px 0 0 5%;
  border: 3px solid #BEC3C7;
  resize: none;
}

.form-control textarea::placeholder { 
  color: #CFCFCF;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.form div:nth-child(4) {
  margin: 0 1% 78px 0;
  text-align: end;
}

.form div:nth-child(4) input {
  padding: 15px 7%;
  border: #1BBC9B;
  background-color: #1BBC9B;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
}

.form-control.success input { border-color: #2ECC71;}
.form-control.error input { border-color: #E74C3C;}

.form-control span {
  display: inherit;
  font-size: 13px;
  visibility: hidden;
}

.form-control.error span {
  color: #E74C3C;
  visibility: visible;
}

.info-detail li {
 padding-left: 4%;
 margin-bottom: 20px;
 display: block; 
 color: #676968;
 font-size: 20px;
}

.info-detail li a { 
  width: 50%;
  color: #676968; 
}
.info-detail li:first-child { text-transform: uppercase; }

.info-detail .location { 
  width: 60%;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 25px;
  text-transform: capitalize; 
}

.info-detail li address { width: 65%; }

.info-detail li a::before,
.info-detail li address::before {
  margin-right: 4%;
  font-size: 18px;
  font-family: "FontAwesome";
}

.location address::before { content: "\f041"; }
.phone a::before { content: "\f098"; }
.fax a::before { content: "\f02f"; }
.mail a::before { content: "\f003"; }


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 31px 0;
  background-color: #2D3E50;
  color: #DADBE1;  
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

.copyright { 
  width: 35%;
  margin-top: 16px;
  font-size: 19px; 
}

.copyright p:last-child { border-right: none; }

.copyright p { 
  padding-right: 1%;
  border-right: 2px solid #FFFFFF;
  display: inline-block; 
  text-transform: capitalize;
}

.footer-section div:nth-child(2) a { text-indent: -9999px; }

.footer-section div:nth-child(2) a::before {
  content: "\f077";
  padding: 17px;
  background-color: #1BBC9B;
  color: #FFFFFF;
  float: right;
  font-size: 25px;
  font-family: "FontAwesome";
  text-indent: 0;
}





 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1200px) {

  h1 figure { width: 27%; }
  
  h1 div { 
    width: 63%; 
    margin-top: 15px;
  }

  h1 .logo-name { font-size: 20px; }
  h1 .logo-text { font-size: 14px; }
  .menu ul li { font-size: 17px; }
  .menu li a { padding: 15px 16px; }

  .form-control:nth-child(3) {
    width: 99%;
    border: none;
  }

  .copyright { font-size: 16px; }

}  
@media only screen and (max-width: 1024px) {

  h1 .logo-text { font-size: 13px; }
  .menu li a { padding: 12px 10px; }
  .about .wrapper { width: 87%; }
  .about-team p { text-align: center; }
  .form { width: 51%; }
  
  .info-detail {
    width: 40%; 
    margin-left: 4%;
  }

  .info-detail .location {
    width: 80%;
    font-size: 17px;
  }

  .mail { font-size: 19px; }
  .mail a { width: 92%; }
  .copyright { font-size: 14px; }
  .footer-section div:nth-child(2) a::before { padding: 13px; }

}  
@media only screen and (max-width: 995px) {

  .menu { font-size: 14px; }
  .copyright { font-size: 13px; }

}  
@media only screen and (max-width: 768px) {

  .header-section h1 { width: 36%; }
  .menu { font-size: 12px; }
  h1 div { margin-top: 13px; }
  .about ul li { width: 30%; }
  .about-team p { font-size: 17px; }

  .copyright {
    width: 48%;
    font-size: 14px;
  }

}

@media only screen and (max-width: 625px) {

  .menu ul li { font-size: 14px; }
  .menu li a { padding: 12px 9px; }
}

@media only screen and (max-width: 525px) {

  .header-section h1 { width: 55%; }
  h1 .logo-name { font-size: 18px; }
  h1 .logo-text { font-size: 12px; }

  .hamburger {
    width: 64%;
    height: 25px;
    padding-bottom: 20px;
    margin: 5px 3% 0 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; 
  }

  .bar {
    width: 6%;
    height: 4px;
    border-radius: 5px;
    margin-top: 11px;
    position: absolute;
    top: 38px;
    background: #000;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .bar.ham-active { 
    background: transparent;
    -webkit-transform: translateX(-3px);
        -ms-transform: translateX(-3px);
            transform: translateX(-3px); 
  }

  .bar::before,
  .bar::after {
    content: "";
    width: 98%;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    left: 1%;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background: #000;
  }

  .bar::before { 
    top: 0px;
    -webkit-transform: translateY(7px);
        -ms-transform: translateY(7px);
            transform: translateY(7px);
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
  }

  .bar::after { 
    top: 0px; 
    -webkit-transform: translateY(-7px); 
        -ms-transform: translateY(-7px); 
            transform: translateY(-7px);
  }

  .bar.ham-active::after { 
    -webkit-transform: rotate(45deg); 
        -ms-transform: rotate(45deg); 
            transform: rotate(45deg); 
  }

  .bar.ham-active::before { 
    -webkit-transform: rotate(-45deg); 
        -ms-transform: rotate(-45deg); 
            transform: rotate(-45deg);  
  }

  .menu ul {
    width: 100%;
    height: auto;
    position: absolute;
    top: 146px;
    left: -100%;
    z-index: 5;
    background: #46525C;
    text-align: left;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
  }

  .menu ul.active { 
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1); 
            transform: scaleY(1); 
  }

  .menu ul li {
    border-right: none;
    margin: 14px 0;
    display: block;
    font-size: 13px;
    text-align: center;
  }

  .menu {
    width: 8%;
    height: 35px;
  }

  .menu ul li a { color: #fff; }
  .menu:hover nav ul { left: 0; }

  .portfolio-heading h2, 
  .about-heading h2,
  .contact-heading h2 { font-size: 36px; }

  .portfolio-heading p, 
  .contact-heading p { font-size: 18px; }
  .portfolio-list li { font-size: 13px; }
  .about-heading p { font-size: 18px; }

  .about ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
  }

  .about ul li {
    width: 63%;
    margin-bottom: 30px;
  }

  .contact-heading p { font-size: 17px; }
  .contact-info { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .form { width: 100%; }
  .form div:nth-child(4) { text-align: center; }

  .info-detail li { 
    padding-left: 0;
    margin-bottom: 15px;
  }

  .info-detail {
    width: 100%;
    text-align: center;
  }

  .info-detail .location {
    width: 90%;
    margin: 0 auto;
    font-size: 19px;
  }

  .info-detail li a { width: 80%; }
  .footer-section div:nth-child(2) { display: none; }

  .copyright { 
    width: 100%;
    text-align: center;
  }


}  
@media only screen and (max-width: 480px) {

  .about ul li { width: 74%; }

  .form-control { 
    width: 100%; 
    margin-bottom: 18px;
  }

  .form-control input {
    width: 95%; 
    padding-left: 3%;
  }

  .form-control:nth-child(3) { margin: 0; }

}  
@media only screen and (max-width: 375px) {

  h1 div {
    width: 65%;
    margin-top: 3px; 
  }
  h1 .logo-name { font-size: 17px; }
  h1 .logo-text { font-size: 11px; }
  .menu { width: 10%; }

  .portfolio-heading p, 
  .contact-heading p { font-size: 14px; }

  .portfolio-list { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
  }

  .portfolio-image { 
    -webkit-box-pack: center; 
       -ms-flex-pack: center; 
     justify-content: center; 
  }

  .portfolio-image li:nth-child(4n - 3) { margin-left: 6%; }
  .portfolio-image li:nth-child(3n - 2) { margin-left: 1%; }
  .portfolio-image li { width: 26%; }
  .form-control:nth-child(2) { margin-left: 0; }

}  
@media only screen and (max-width: 320px) {

  h1 .logo-text { font-size: 9px; }
  .about ul li { width: 90%; }

  .copyright p { 
    border-right: 0;
    margin-bottom: 10px;
  }

}  

@media only screen and (min-width: 996px) {

  /* header start */

  .menu li a:hover {
    background-color: #1BBC9B;
    color: #DEF5F0;
    transition: 1s;
  }

  .prev-arrow:hover::before,
  .next-arrow:hover::before {
    width: 2.5%;
    background-color: #1BBC9B;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  /* header end */

  /* main start */

  .portfolio-list li:hover {
    cursor: pointer;
    background-color: #16A086;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .filter-image:hover  .overlay {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    cursor: pointer;
    background-color: #50B492;
    opacity: 0.4;
  }

  .filter-image .overlay figure,
  .filter-image .overlay p { opacity: 1; }

  .about li figure:hover .about-overlay figure { 
    cursor: pointer;
    opacity: 0.9; 
  }

  .form div:nth-child(4) input:hover {
    background-color: #444444;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .info-detail li a:hover {
    color: #1BBC9B;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  /* main end */

  /* footer start */

  .footer-section div:nth-child(2) a:hover::before {
    background-color: #858585;
    color: #fff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  /* footer end */

}  